<!doctype html>
<html>
<head>
  <title>flatters</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <!--script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script-->


  <script src="angular.min.js"></script>

</head>
<body ng-app="app"> 

  <div ng-controller="terrainCtrl" style="width: 60%; text-align: center; margin: 0, auto;">

    <select ng-model="ordre">
    <option value="name">Tri par nom</option>
    <option value="desc">Tri par description ascendante</option>
    <option value="-desc">Tri par description descendante</option>
    </select>	
    Gold : {{gold}} | Gold-new : {{gold - sommeCouts(cmds)}}

    <table style="text-align:center" border="1" width="90%" cellspacing="0" aling="center">
      <tr class="terrains">
    	 <td width=5% class="ter-{{terrain.type}}" style="border:1px solid black" ng-repeat="terrain in terrains2 | orderBy: no">{{terrain.type}} <br/> {{terrain.civils}} - {{terrain.guerriers}}</td>
      </tr>
      <tr class="terrains">
       <td  width=5% class="ter-{{terrain.type}}" style="border:1px solid black; font-size: 100%" ng-repeat="terrain in terrains2 | orderBy: no">
        


    <select name="mySelect" id="mySelect" ng-model="cmds[terrain.no-1].cmd">
      <option ng-repeat="commande in cmds[terrain.no-1].cmdsAvailable" value="{{commande.numCmde}}">{{commande.libCmde}}</option>
    </select>{{cmds[terrain.no-1 ].cmdsCouts[cmds[terrain.no-1].cmd]}}

  <!--       <select name="mySelect" id="mySelect"
          ng-options="commande.libCmde for commande in cmds[terrain.no-1 ].cmdsAvailable track by commande.numCmde"
          ng-model="cmds[terrain.no-1].cmd"></select> {{cmds[terrain.no-1 ].cmdsCouts[cmds[terrain.no-1].cmd.numCmde]}}

   -->


      </td>
    </tr>
    <tr class="terrains">
      <td width=5% class="ter-{{terrain.type}}" style="border:1px solid black" ng-repeat="terrain in terrains2 | orderBy: no">cmd : {{cmds[terrain.no-1 ].cmdsAvailable[cmds[terrain.no-1].cmd].libCmde}}</td>
    </tr>


      
   </table>


 </div>

<script>

angular.module("app", []).controller("terrainCtrl", function($scope) {
  console.log($scope);
    $scope.gold = 1000;
    $scope.goldnew = 1000;


    $scope.terrains2 = [
    {no:1, type:'mer', civils:8, guerriers:2 }, 
    {no:2, type:'plaine', civils:10, guerriers:5 }, 
    {no:3, type:'plaine', civils:10, guerriers:5 }, 
    {no:4, type:'mer', civils:8, guerriers:2 }, 
    {no:5, type:'mer', civils:10, guerriers:5 }, 
    {no:6, type:'plaine', civils:8, guerriers:2 }, 
    {no:7, type:'plaine', civils:10, guerriers:5 }, 
    {no:8, type:'plaine', civils:8, guerriers:2 }, 
    {no:9, type:'foret', civils:8, guerriers:2 }, 
    {no:10, type:'foret', civils:0, guerriers:0 },
    {no:11, type:'plaine', civils:8, guerriers:2 }, 
    {no:12, type:'marais', civils:10, guerriers:5 }, 
    {no:13, type:'montagne', civils:10, guerriers:5 }, 
    {no:14, type:'montagne', civils:8, guerriers:2 }, 
    {no:15, type:'volcan', civils:10, guerriers:5 }, 
    {no:16, type:'montagne', civils:8, guerriers:2 }, 
    {no:17, type:'plaine', civils:10, guerriers:5 }, 
    {no:18, type:'plaine', civils:8, guerriers:2 }, 
    {no:19, type:'desert', civils:8, guerriers:2 }, 
    {no:20, type:'plaine', civils:8, guerriers:2 } 
    ];

    $scope.cmds = [
    {no:1, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:2, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:3, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:4, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:5, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:6, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:7, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:8, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:9, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:10, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:11, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:12, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:13, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:14, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:15, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Exploser"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:16, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:17, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:18, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:19, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0}, 
    {no:20, cmdsAvailable:[{numCmde:0, libCmde:"Aucune"}, {numCmde:1, libCmde:"Recruter"}, {numCmde:2, libCmde:"Terraformer"}], cmdsCouts:[0, 100, 300], cmd:0} 
    ];

    $scope.sommeCouts = function (cmds){
      sommeCouts = 0;
      /*for (var iter = 0; iter < 20; iter++) {
        sommeCouts = sommeCouts + Number(cmds[iter].cmdsCouts[cmds[iter].cmd.numCmde]);
      }*/

      for (var iter = 0; iter < 20; iter++) {
        sommeCouts = sommeCouts + Number(cmds[iter].cmdsCouts[cmds[iter].cmd]);
      }

      return sommeCouts;
    }

});


</script>


</body>



</html>
