html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: white; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 text-align: center;
 }
h1 {
 font-size: 200%; 
 color: navy; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: red; 
 padding-left: 15px;
 }
p,ul,li,td {
 color: black; 
 }
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}	


.ter-plaine {
	background-color: #A9F5BC;
}

.ter-foret {
	background-color: #4B8A08;
}

.ter-desert {
	background-color: #F2F5A9;
}

.ter-mer {
	background-color: #819FF7;
}

.ter-montagne {
	background-color: #848484;
}

.ter-volcan {
	background-color: #DF3A01;
}

.ter-marais {
	background-color: #B18904;
}

.centered {
    margin: auto;
}
